


  .card{
    
    background: #e9e7e710!important;
    border-radius: 5px !important;
    border: 1px solid #63626210 !important;;
    backdrop-filter: blur(0.4rem) !important;;
    color: rgb(53, 52, 52) !important;
   

  }
  .cursiva{

    letter-spacing: -1px;
     
  }
  .cardImg{
    padding: 1px !important;
  }

  .lista{
   position: absolute;
   width: 100% !important;
  z-index: 2;
  
  
  width: 63.3%; /* El div hijo toma el ancho del contenedor padre */
 
  background-color: #ff0000; /* Color de fondo para demostración */
  color: #000000; /* Color del texto para demostración */
}

.search{
  position: relative;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #3dc23d;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}




.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Color negro semitransparente, ajusta el último valor para cambiar la opacidad */
}

.dogVisionIMG {
  width: 500px;
  height: 500px;
}

.overflow-x {
  overflow-x: auto;
  white-space: nowrap;
}

.overflow-x::-webkit-scrollbar {
  height: 9px; /* Ancho de la scrollbar */
}

.overflow-x::-webkit-scrollbar-thumb {
  background-color: gray; /* Color de la scrollbar */
  border-radius: 10px; /* Borde redondeado */
}


.overflow-y {
  overflow-y: auto;
  max-height: 250px;
}

.overflow-y::-webkit-scrollbar {
  width: 8px; /* Ancho de la scrollbar */
}

.overflow-y::-webkit-scrollbar-thumb {
  background-color: gray; /* Color de la scrollbar */
  border-radius: 10px; /* Borde redondeado */
}





.concepto {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.relacion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.conector {
  margin: 0 10px;
}
